/*mobile view*/
a:visited{color:#69208b}
body{
	margin:55px;
	padding:1%;
	font-size:150%;
    background-color: #af0904;
}

h1{
	font-size: 60px; 
	font-weight: bold;
}

h2{
	font-size: 2em; 
	font-weight: bold;
}

img{
    height: 300px;
    width:auto;
    border: 4px dotted black;
    margin: 10px;
    padding: 25px;
    border-radius: 13px;
    
}
p, h1, h2 {
    padding: 10px;
    text-align:center;
}

header nav {
    border: none;
    background-color: #af0904;
   
}

nav, footer{
	border: 3px solid black;
	margin: 15px 0;
    border-radius: 25px;
    text-align: center;
    background-color: #D3D3D3;
    /*background-color: #af0904;*/
}
/*main, h1,*/
main, h1{
    border: 3px solid black;
	margin: 15px ;
    border-radius: 25px;
    
    background-color: #D3D3D3;
}

main > li{
    margin-left: 100px;
    margin-bottom: 25px;
}

nav li{
	background-color: #D3D3D3;
    border-radius: 35px;
	padding:10px;
	width:25%;
	border:1px solid black;
	display: inline-block;
	width: 20%;
}

/*Tablet View*/
@media only screen and (min-width: 768px) {

    .projects{
        display: grid;
        grid-template-columns: 150px 150px 150px 150px 150px;  
        grid-template-rows: 150px 150px 150px 150px 150px;        

        height: 300px;
        width:auto;
        border: 4px dotted black;
        margin: 10px;
        padding: 25px;
        border-radius: 13px;
        
    }

    

}

